[submodule "firmware/components/lvgl"]
	path = firmware/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "lvgl-simulator-sdl/lvgl"]
	path = lvgl-simulator-sdl/lvgl
	url = https://github.com/lvgl/lvgl.git
